.ProductCard {
  border: 0.1rem solid #291d00;
  border-radius: 0.25rem;
  padding: 2rem;
  width: 20rem; /* Adjust as needed */
  text-align: left;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for depth */
}

.ProductCard img {
  width: 20rem;
  height: 14rem;
  object-fit: cover;
  border-radius: 0.3rem; /* Rounded corners for the image */
  margin-bottom: 1rem;
}

.ProductCard .top {
  display: flex;
  height: 3.1rem;
  justify-content: space-between;
  align-items: center;
}

.desc {
  height: 2rem;
}

.ProductCard h2 {
  margin: 0;
  font-size: clamp(1.15rem, 0.893rem + 0.686vw, 1.51rem);
  color: #291d00; /* Adjust text color as needed */
}

.ProductCard .rating {
  text-align: center;
  color: #291d00; /* Color for the star icons */
  width: 40%;
}

.ProductCard .rating i {
  font-size: 1.2rem;
}

.recc, .all {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  width: 98vw;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  align-items: center;
}

.foot {
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
  align-items: center;
}

.foot button {
  background: #291d00;
  border-radius: 0.5rem;
  font-size: clamp(0.9rem, 0.721rem + 0.476vw, 1.15rem);
  cursor: pointer;
  border: none;
  color: #fffbf1;
  padding: 0.6rem 2rem;
}

@media screen and (max-width: 920px) {
  .ProductCard {
    padding: 1rem;
  }
}
