.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  font-size: 1.5rem;
}
.Navbar li {
  cursor: pointer;
}

.logo {
  height: 2rem;
  transition: all 0.5s;
  margin-left: 2rem;
}

.menu-toggle {
  display: none; /* Hide by default */
  cursor: pointer;
}

.menu {
  display: none;
  align-items: center;
}

.menu ul,
.main ul {
  display: flex;
  text-decoration: none;
  justify-content: center;
  list-style: none;
  gap: 2rem;
}
.menu-toggle {
  cursor: pointer;
}

.menu.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
}

.menu.open ul {
  flex-direction: column;
  padding: 1rem;
}

.open {
  display: block;
}

.auth {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #140e00;
  margin-right: 1rem;
  height: 2.8rem;
  width: 8rem;
  z-index: 1;
  transition: all 0.2s ease;
  justify-content: center;
}

.auth:hover {
  color: #fffbf1;
  background: #291d00;
  border-radius: 1px solid #fffbf1;
  border-radius: 1.5rem;
}
.logo {
  height: 2rem;
}

.menu,
.menu-closed {
  display: none;
}

.main {
  display: block;
}

@media screen and (max-width: 924px) {
  .logo {
    margin-top: 1rem;
  }
  .menu-toggle {
    display: block;
    position: fixed;
    top: 1rem;
    right: 0.5rem;
    margin-right: 1rem;
  }

  .logo {
    height: 1.5rem;
    margin-left: 1rem;
  }
  .menu ul {
    flex-direction: column;
    padding: 0;
    align-items: center;
  }
  .menu-closed {
    display: none;
  }
  .auth2 {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #140e00;
    margin-right: 1rem;
    height: 2.8rem;
    width: 8rem;
    z-index: 1;
    transition: all 0.2s ease;
    justify-content: center;
  }

  .auth2:hover {
    color: #fffbf1;
    background: #291d00;
    border-radius: 1px solid #fffbf1;
    border-radius: 1.5rem;
  }
  .menu {
    flex-direction: column;
    position: fixed;
    align-items: center;
    display: flex;
    z-index: 100;
    justify-content: space-around;
    top: 8%;
    height: 40vh;
    left: 5%;
    background: rgba(255, 250, 238, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 90%;
  }

  .main {
    display: none;
  }

  .auth {
    display: none;
    margin-top: 1rem;
  }
}
